{% extends 'base.html.twig'%}

{% block title %} Accueil {% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 mx-auto">
                <div class="card bg-light rounded">
                    <div class="container-fluid">
                        <h3 class="card-title text-default p-4">
                            Articles
                        </h3>
                        <div class="card-body mt2 rounded">
                            {% for post in posts %}
                                <div class="media">
                                    <img src="https://picsum.photos/100/100" class="mr-3 rounded" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0">
                                            {{post.title}}
                                        </h5>
                                        {{post.body}}
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}